body{
    margin: 0px;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin: 10px;
}

.entry {
    background:rgb(230,230,230);
    width:960px;
    height:40px;
    border-bottom:1px solid;
}

.entry .fullName {
    width:150px;
    float:left;
    padding:11px;
}

.entry .phone {
    width:100px;
    float:left;
    padding:11px;
}

.entry .address {
    width:250px;
    float:left;
    padding:11px;
}

.entry .email {
    width:200px;
    float:left;
    padding:11px;
}

.entry .del {
    width:30px;
    float:left;
    padding:9px;
}

.entry p {
    margin:0px;
    font-family:sans-serif;
    font-size:12px;
    text-shadow:0px 0px 1px rgba(0,0,0,0.4);
}

.entry .del a {
    font-family:sans-serif;
    color:#FFF;
    font-size:12px;
    padding:5px;
    background:rgb(255,100,100);
    border-radius:8px;
    text-decoration:none;
}